:css
  i { margin-right: 10px }

.user-details
  %h1 Profile
  %p {{site.user_description}}
.user
  .tech.contents
    %h2 Code
    %i.devicon-ruby-plain-wordmark.colored
    %i.devicon-rails-plain-wordmark.colored
    %i.devicon-jquery-plain-wordmark.colored
    %i.devicon-coffeescript-plain-wordmark.colored
    %p
      Ruby and Rails backends supported by SJR and frontend tweaking provided by Coffescript and jQuery
  .tech.contents
    %h2 Design
    %i.devicon-html5-plain-wordmark.colored
    %i.devicon-css3-plain-wordmark.colored
    %i.devicon-bootstrap-plain-wordmark.colored
    %i.devicon-sass-original.colored
    %p
      Creating frontends using HAML/ERB and SASS/SCSS rendered to HTML5 and CSS3 respectively
.user
  .tech.contents
    %h2 SCM
    %i.devicon-git-plain-wordmark.colored
    %i.devicon-github-plain-wordmark.colored
    %i.devicon-gitlab-plain-wordmark.colored
    %i.devicon-bitbucket-plain-wordmark.colored
    %p
      Git essentially equals SCM, so Git powered SCM servers are a preffered way to remotly store the codebase
  .tech.contents
    %h2 Data
    %i.devicon-mongodb-plain-wordmark.colored
    %i.devicon-mysql-plain-wordmark.colored
    %i.devicon-postgresql-plain-wordmark.colored
    %i.devicon-redis-plain-wordmark.colored
    %p
      Be that the CLI, client library or ORM I am able to utilize the above data storage solutions
.user
  .tech.contents
    %h2 Collaboration
    %i.devicon-google-plain-wordmark.colored
    %i.devicon-slack-plain-wordmark.colored
    %i.devicon-trello-plain-wordmark.colored
    %i.devicon-confluence-plain-wordmark.colored
    %p
      Sharing work through Google Apps, chatting on Slack, moving cards on Trello or creating wikis on Confluence
  .tech.contents
    %h2 Tools
    %i.devicon-atom-plain-wordmark.colored
    %i.devicon-vim-plain.colored
    %i.devicon-gimp-plain.colored
    %i.devicon-chrome-plain-wordmark.colored
    %p
      Text editors, decent web development tools and an image processing tool are a web developers good friends
.user
  .tech.contents
    %h2 Systems
    %i.devicon-apple-plain.colored
    %i.devicon-linux-plain.colored
    %i.devicon-ubuntu-plain-wordmark.colored
    %i.devicon-debian-plain-wordmark.colored
    %p
      macOS workstation and Linux servers, choosing command line over GUI for most tasks
  .tech.contents
    %h2 Deployment
    %i.devicon-heroku-original-wordmark.colored
    %i.devicon-docker-plain-wordmark.colored
    %i.devicon-travis-plain-wordmark.colored
    %i.devicon-nginx-plain-wordmark.colored
    %p
      Deploy code to the cloud, Docker or bare metal powered by Linux and efficient web and application serving
