 <div class="user-details">
  <h1> Profile </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech contents">
    <h2>Code</h2>
    <i class="devicon-ruby-plain-wordmark colored"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <i class="devicon-jquery-plain-wordmark colored"></i>
    <i class="devicon-coffeescript-plain-wordmark colored"></i>
    <p>
      Ruby is my weapon of choice. Rails is my favourite framework, although I am not a stranger to Sinatra or Grape.
      jQuery and Coffeescript help me a lot with SJR and frontend tweaking.
    </p>
  </div>
  <div class="tech contents">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>
      Even though I am not a frontend developer, I am not a stranger to HTML and CSS.
      These are often substituted by HAML and SASS respectively in Rails projects.
    </p>
  </div>
</div>
<div class="user">
  <div class="tech contents">
    <h2>SCM</h2>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-github-plain-wordmark colored"></i>
    <i class="devicon-gitlab-plain-wordmark colored"></i>
    <i class="devicon-bitbucket-plain-wordmark colored"></i>
    <p>
      I know there are other SCM's than Git, but I rarely stumble upon projects that use those.
      Git and Git backed services are what I use on daily basis.
    </p>
  </div>
  <div class="tech contents">
    <h2>Data Storage</h2>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-redis-plain-wordmark colored"></i>
    <p>
      Be that the CLI, client library or ORM I am able to utilize the above.
    </p>
  </div>
</div>
<div class="user">
  <div class="tech contents">
    <h2>Collaboration</h2>
    <i class="devicon-google-plain-wordmark colored"></i>
    <i class="devicon-slack-plain-wordmark colored"></i>
    <i class="devicon-trello-plain-wordmark colored"></i>
    <i class="devicon-confluence-plain-wordmark colored"></i>
    <p>
      Sharing work through Google Apps, chatting on Slack, moving cards on Trello or creating wikis on Confluence ...
    </p>
  </div>
  <div class="tech contents">
    <h2>Tools</h2>
    <i class="devicon-atom-plain-wordmark colored"></i>
    <i class="devicon-vim-plain colored"></i>
    <i class="devicon-gimp-plain colored"></i>
    <i class="devicon-chrome-plain-wordmark colored"></i>
    <p>
      Text editors, decent web development tools and an image processing tool are a web devs friends...
    </p>
  </div>
</div>
<div class="user">
  <div class="tech contents">
    <h2>Operating Systems</h2>
    <i class="devicon-apple-plain colored"></i>
    <i class="devicon-linux-plain colored"></i>
    <i class="devicon-ubuntu-plain-wordmark colored"></i>
    <i class="devicon-debian-plain-wordmark colored"></i>
    <p>
      I am used to macOS on the desktop but I am no stranger to the Unix CLI, shell scripting and generally using Linux as the platform for my creations.
    </p>
  </div>
  <div class="tech contents">
    <h2>Deployment</h2>
    <i class="devicon-heroku-original-wordmark colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-travis-plain-wordmark colored"></i>
    <i class="devicon-nginx-plain-wordmark colored"></i>
    <p>
      Heroku is a nice solution when DEVOPS resources are limited or non-existent. Docker containers and images really make life easier both in the development and production environments.
    </p>
  </div>
</div>
