#particles-js
  .header
    %img{:alt => "saiden", :src => "/assets/img/logo.png"}/
    .header-icons
      %a{"aria-label" => "Send email", :href => "mailto:adam.ladachowski@gmail.com"}
        %i.icon.fa.fa-envelope
      %a{"aria-label" => "My LinkedIn", :href => "https://pl.linkedin.com/in/adam-ladachowski-29425a32", :target => "_blank"}
        %i.icon.fa.fa-linkedin{"aria-hidden" => "true"}
      %a{"aria-label" => "My Twitter", :href => "https://twitter.com/aladac", :target => "_blank"}
        %i.icon.fa.fa-twitter{"aria-hidden" => "true"}
      %a{"aria-label" => "My Github", :href => "https://github.com/aladac", :target => "_blank"}
        %i.icon.fa.fa-github-alt{"aria-hidden" => "true"}
    .header-links
      %a.link{"data-scroll" => "", :href => "#about"} About Me
      %a.link{"data-scroll" => "", :href => "#projects"} Projects
  %a.down{"data-scroll" => "", :href => "#about"}
    %i.icon.fa.fa-chevron-down{"aria-hidden" => "true"}
