<style>
  .table { display: table } 
  .table-row { display: table-row }
  .table-cell { 
    display: table-cell;
  }
  .table-cell > p { padding-right: 10px }
  .table-cell > ul > li { 
    display: inline;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
  }
  .table-cell > ul {
    margin: 0;
    padding-left: 0;
  }
</style>

<div class='user-details'>
  <h1>Projects</h1>
</div>
<div class='table-cell'>
  <h3>Intellectual Property Tracking</h3>
</div>
<div class='table-cell'>
  <ul>
    <li>Ruby on Rails</li>
    <li>MongoDB</li>
    <li>Sinatra</li>
    <li>Redis</li>
    <li>Grape</li>
  </ul>
</div>
<div class='table-cell'>
  <p>Web UI, backend and microservices designed
  to search and report video content IP.</p>
</div>
<div class='table-cell'>
  <h3>Video on Demand Platform</h3>
</div>
<div class='table-cell'>
  <ul>
    <li>Ruby on Rails</li>
    <li>jQuery</li>
    <li>PostgreSQL</li>
  </ul>
</div>
<div class='table-cell'>
  <p>Maintaining a Ruby backend of a Video on Demand
  platform.</p>
</div>
<div class='table-cell'>
  <h3>SMS & Voice Messaging Platform</h3>
</div>
<div class='table-cell'>
  <ul>
    <li>Ruby</li>
    <li>PostgreSQL</li>
    <li>MySQL</li>
    <li>Asterisk</li>
    <li>Kannel</li>
  </ul>
</div>
<div class='table-cell'>
  <p>
    Continuous work on a multi purpose messaging platform. 
</div>
<div class='table-cell'>
  <h3>MVNE Billing System</h3>
</div>
<div class='table-cell'>
  <ul>
    <li>Ruby</li>
    <li>MySQL</li>
  </ul>
</div>
<div class='table-cell'>
  <p>
    Billing system producing records based on CDR/EDR gathered from an MNO for multiple MVNO's 
  </p>
</div>
