:css
  li { 
    display: inline;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
    margin-right: 3px;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  h3 { margin-bottom: 0.7em }

  .project-components { margin-bottom: 0.7em }
  .project-role { 
    font-style: italic;
  }
  .project-role > span { float: right }
  .project-role::before { content: "→ " }

.user-details
  %h1 Projects

.project-name
  %h3 Docker based continuous deployment platform
.project-components
  %ul
    %li Ruby on Rails
    %li Docker
    %li MongoDB
    %li Fluent
    %li ElasticSearch
.project-description
  Docker based multi environment (Ruby, Java, C#) CD system. Triggered by webhooks from SCM servers and build systems. Handling of background and recurring tasks.
.project-role
  Application Designer and Developer
 

.project-name
  %h3 Intellectual Property Tracking
.project-components
  %ul
    %li Ruby on Rails
    %li MongoDB
    %li Sinatra
    %li Redis
    %li Grape
.project-description
  Web UI, backend and microservices designed to search and report video content IP.
.project-role
  Developer

.project-name
  %h3 Video on Demand Platform
.project-components
  %ul
    %li Ruby on Rails
    %li jQuery
    %li PostgreSQL
.project-description
  Maintaining a Ruby backend of a Video on Demand platform.
.project-role
  Developer

.project-name
  %h3 SMS and Voice Messaging Platform
.project-components
  %ul
    %li Ruby
    %li PostgreSQL
    %li MySQL
    %li Asterisk
    %li Kannel
.project-description
  Continuous work on a multi purpose messaging platform.
.project-role
  Team Leader and Developer

.project-name
  %h3 MVNE Billing System
.project-components
  %ul
    %li Ruby
    %li MySQL
.project-description
  Billing system producing records based on CDR/EDR gathered from an MNO for multiple MVNO's
.project-role
  Application Designer and Developer

.project-name
  %h3 SMS feedback gathering platform
.project-components
  %ul
    %li Ruby on Rails
    %li MySQL
    %li Twitter Bootstrap 
.project-description
  Backend responsible for receiving SMS and Rails web UI to read, organize and export messages
.project-role
  Application Designer and Developer

.project-name
  %h3 Premium Rate SMS number handling
.project-components
  %ul
    %li Ruby
    %li Perl
    %li SOAP
.project-description
  A module for an SMSC system verifying if a given MSISDN number is permitted to send a specific category of PR SMS.
.project-role
  Application Designer and Developer

.project-name
  %h3 APIs for customer SMS integrations
.project-components
  %ul
    %li Ruby
    %li PHP
    %li SSH
    %li HTTP
.project-description
  Several SMS sending APIs using HTTP and file input 
.project-role
  Application Designer and Developer


